.u-section-1 .u-sheet-1 {
  min-height: 597px;
}

.u-section-1 .u-image-1 {
  width: 425px;
  height: 425px;
  background-image: url("images/imagen.png");
  background-position: 50% 50%;
  margin: 53px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 425px;
  height: 450px;
  margin: -790px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 2.25rem;
  margin: -39px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 500px 0 15px;
}

.u-section-1 .u-image-3 {
  width: 50px;
  height: 50px;
  margin: 35px auto 0 15px;
}

.u-section-1 .u-image-4 {
  width: 50px;
  height: 50px;
  margin: -50px auto 0 80px;
}

.u-section-1 .u-image-5 {
  width: 50px;
  height: 50px;
  margin: -50px auto 0 145px;
}

.u-section-1 .u-image-6 {
  width: 50px;
  height: 50px;
  margin: -50px auto 60px 210px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 118px;
    margin-right: -7px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -854px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-left: 65px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 130px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 194px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 153px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -889px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -39px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-image-1 {
    width: 260px;
    height: 260px;
    margin-top: 198px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -748px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -63px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
    height: 245px;
    margin-top: 319px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    height: 360px;
    margin-top: -804px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -90px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-3 {
    width: 38px;
    height: 38px;
    margin-top: 15px;
    margin-left: 72px;
  }

  .u-section-1 .u-image-4 {
    width: 38px;
    height: 38px;
    margin-top: -38px;
    margin-left: 125px;
  }

  .u-section-1 .u-image-5 {
    width: 38px;
    height: 38px;
    margin-top: -38px;
    margin-right: 125px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    width: 38px;
    height: 38px;
    margin-top: -37px;
    margin-right: 72px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 745px;
}

.u-section-2 .u-text-1 {
  line-height: 0.58;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 2.25rem;
  margin: 100px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 441px;
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Quicksand;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-family: Quicksand;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-family: Quicksand;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-family: Quicksand;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 539px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1312px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1140px;
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1;
    width: auto;
    font-size: 1.25rem;
    margin-top: 70px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 13px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 936px;
}

.u-section-3 .u-image-1 {
  width: 30px;
  height: 300px;
  margin: -76px auto 0;
}

.u-section-3 .u-text-1 {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 2.25rem;
  margin: -112px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-3 .u-image-2 {
  width: 1090px;
  height: 620px;
  --radius: 10px;
  margin: 65px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 472px;
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
  width: 1075px;
  margin: -612px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 8px 8px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-3 {
  line-height: 1.25;
  font-weight: normal;
  font-size: 1.125rem;
  margin: 22px 739px 0 201px;
}

.u-section-3 .u-text-4 {
  line-height: 1.25;
  font-weight: normal;
  font-size: 1.125rem;
  margin: -88px 202px 0 738px;
}

.u-section-3 .u-image-3 {
  width: 18px;
  height: 18px;
  margin: -21px auto 0 241px;
}

.u-section-3 .u-image-4 {
  width: 18px;
  height: 18px;
  margin: -18px 340px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -77px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -109px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-3 .u-image-2 {
    height: 530px;
    width: 926px;
    margin-top: 45px;
  }

  .u-section-3 .u-gallery-1 {
    height: 400px;
    width: 913px;
    margin-top: -525px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 593px;
    margin-left: 147px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 102px;
    margin-left: 638px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 240px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin-right: auto;
    margin-left: 187px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1698px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -75px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -123px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-image-2 {
    height: 1415px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-1 {
    height: 1267px;
    width: 700px;
    margin-top: -1406px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-3 {
    margin-top: 28px;
    margin-right: 418px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 418px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -76px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -124px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 6px;
  }

  .u-section-3 .u-image-2 {
    height: 1075px;
    margin-top: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-1 {
    height: 949px;
    width: 523px;
    margin-top: -1068px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 289px;
    margin-left: 51px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    margin-top: -80px;
    margin-right: 45px;
    margin-left: 295px;
    font-size: 1rem;
  }

  .u-section-3 .u-image-3 {
    margin-top: -20px;
    margin-right: 179px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -117px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-3 .u-text-2 {
    width: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    height: 722px;
    margin-top: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-1 {
    height: 615px;
    width: 330px;
    margin-top: -715px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 10px;
    margin-right: 140px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -68px;
    margin-right: 0;
    margin-left: 140px;
  }

  .u-section-3 .u-image-3 {
    width: 15px;
    height: 15px;
    margin-top: -16px;
    margin-right: 129px;
  }

  .u-section-3 .u-image-4 {
    width: 15px;
    height: 14px;
    margin-top: -15px;
    margin-left: 54px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 635px;
}

.u-section-4 .u-gallery-1 {
  width: 625px;
  height: 505px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 37.4%;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-back-image-2 {
  object-position: 45.2% 50%;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-back-image-3 {
  object-position: 50% 6.24%;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-back-image-4 {
  object-position: 34.84% 37.4%;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-4 .u-back-image-5 {
  object-position: 50% 37.4%;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-4 .u-back-image-6 {
  object-position: 56.89% 37.4%;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnails-1 {
  padding-left: 10px;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 120px;
}

.u-section-4 .u-image-7 {
  width: 515px;
  height: 505px;
  margin: -505px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-4 .u-gallery-1 {
    width: 470px;
    height: 380px;
    margin-top: 50px;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 96px;
    height: 96px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 96px;
    height: 96px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 96px;
    height: 96px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 96px;
    height: 96px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 96px;
    height: 96px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 96px;
    height: 96px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 116px;
  }

  .u-section-4 .u-image-7 {
    width: 470px;
    height: 380px;
    margin-top: -380px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-4 .u-gallery-1 {
    width: 360px;
    height: 291px;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 70px;
    height: 70px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 70px;
    height: 70px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 70px;
    height: 70px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 70px;
    height: 70px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 70px;
    height: 70px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 70px;
    height: 70px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 90px;
  }

  .u-section-4 .u-image-7 {
    width: 360px;
    height: 291px;
    margin-top: -291px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-4 .u-gallery-1 {
    width: 270px;
    height: 218px;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 52px;
    height: 52px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 52px;
    height: 52px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 52px;
    height: 52px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 52px;
    height: 52px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 52px;
    height: 52px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 52px;
    height: 52px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 72px;
  }

  .u-section-4 .u-image-7 {
    width: 270px;
    height: 218px;
    margin-top: -218px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-gallery-1 {
    height: 220px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 37px;
    height: 37px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 37px;
    height: 37px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 37px;
    height: 37px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 37px;
    height: 37px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 37px;
    height: 37px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 37px;
    height: 37px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 57px;
  }

  .u-section-4 .u-image-7 {
    width: 170px;
    height: 170px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
  }
} .u-section-5 {
  background-image: url("images/FONDO.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 47px;
}

.u-section-5 .u-text-1 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 10px auto 10px 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 23px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 29px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 0;
  }
}